[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metaweave"]
	path = metaweave
	url = https://github.com/fgabriel1891/metaweave
